# API KEYS
# OPENWEATHER_API_KEY=ed2997******************
OPENWEATHER_API_KEY=f4a9b**************


TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAA*********************
OPENAI_API_KEY=sk-proj-*****************
GOOGLE_APPLICATION_CREDENTIALS=D:/Emergency_Response_System/backend/config/geecap-42a29310865f.json
GEE_KEY_FILE=D:/Emergency_Response_System/backend/config/geecap-42a29310865f.json

# AGENT SETTINGS
AGENT_ID=agent_1_environmental
MONITORING_INTERVAL=60
ENABLE_ADAPTIVE_POLLING=true
ENABLE_TWITTER_MONITORING=false
RUNTIME_MODE=simulation
LOG_LEVEL=INFO
AGENT_ID=agent_1_environmental


# Database
# POSTGRES_DB=disaster_db
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# DATABASE_URL=postgresql://postgres:postgres@db:5432/disaster_db
POSTGRES_DB=disaster_response
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/disaster_response


# Redis
REDIS_URL=redis://redis:6379/0


# Satellite / GEE Configuration
GEE_PROJECT_ID=geecap
FLOOD_MODEL_PATH=D:/Emergency_Response_System/backend/models/flood_fast_best.keras
SAR_REF_START=2024-01-01
SAR_REF_END=2024-03-31
