version: "3.9"

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: disaster_pg
    environment:
      POSTGRES_DB: disaster_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: disaster_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: disaster_backend
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/disaster_db
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: disaster_frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: "http://backend:8000"

volumes:
  pgdata:
